<div class="page-header">
  <h1>Circle</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="lead">The area of a circle with radius <%= @circle.a %> is <%= @circle.circle_area %>.</p>
  </div>
</div>
