<div class="page-header">
  <h1>Rectangle</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="lead">The area of a rectangle with width <%= @rectangle.a %> and height <%= @rectangle.b %> is <%= @rectangle.rectangle_area %>.</p>
  </div>
</div>

